html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}


body {
  font-family: "Montserrat", sans-serif;
  
}

/* .font-items{
  font-size:20px;

} */

.header-container{
  display:flex;
  width: 100%;
  padding-top: 104px;
  padding-left: 135px;
  padding-right: 133px;
  padding-bottom: 168px;
  background-color: #F8F8F8;
}


.header-title{
  margin-bottom:53px;
  font-size:24px;
  line-height: 45px;
  font-weight: 300;
}

.header-subtitle{
  font-size:200px;
  line-height:230px;
  margin-bottom:53px;
}

.header-description{
  font-size:32px;
  line-height:50px;
  margin-bottom:61px;
}

.header-img{
  display:block;
  width: 772px;
  margin-top: -22%;
}

.news-title{
  margin-top:43px;
  text-align:center;
  font-size: 24px;
  line-height: 45px;
  font-weight: 300px;
}

.update-title{
  margin-bottom: 84px;
  text-align: center;
  font-size: 72px;
  line-height: 81px;
  font-weight: 400px;
}

.item-img-wrapper{
  margin-bottom: 67px;
  display:flex;
  align-items: center;
  justify-content:center;
  width: 417px;
  height: 630px;
  background-color: #f8f8f8;
}

.item-title{
  font-size:32px;
  line-height: 30px;
  margin-bottom:17px;
  text-align:center;
  font-weight: 400;
}

.item-wrapper{
  margin:0 auto;
  width: 417px;
  margin-bottom: 50px;
}

.item-description{
  font-size:32px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

